<div class="header">
  <p class="total">({{ products.total }}) Products Found</p>
  <div>
    <p>
      <span class="sort-by">Sort By: </span>
      <span>Popularity</span>
    </p>
  </div>
</div>
<div class="cards-container">
  <app-product-card
    (onAddToCard)="onAddToCard.emit($event)"
    *ngFor="let product of products.products"
    [product]="product"></app-product-card>
</div>


<div class="pagination">
  <app-pagination
    (pageChange)="onPageChange.emit($event)"
    [currentPage]="currentPage"
    [totalPages]="calculateTotalPages() ">
  </app-pagination>
</div>
