:host {
  height: 100%;
  width: 100%;
  max-height: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  border-top: 0.5px solid #42424280;
  border-bottom: 0.5px solid #42424280;
}
