<p class="header">
  iPhone
</p>

<div *ngIf="productsFacadeService.filter$ | async as filter" class="breadcrumbs">
  Home / Products /
  <span *ngIf="selectedCategory">{{ selectedCategory }} /</span>
  <span class="selected-cat">{{ filter.search }}</span>
</div>

<div class="container">
  <app-categories
    (onSelectCategory)="onSelectCategory($event)"
    [categories]="(productsFacadeService.categories$ | async) || []"></app-categories>
  <app-products-list
    (onAddToCard)="onAddToCard($event)"
    (onPageChange)="onPageChange($event)"
    (onSortChange)="onSort($event)"
    [products]="(productsFacadeService.products$ | async) || productsFacadeService.initialProductsPage"
  ></app-products-list>
</div>
